body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
    background: url("./Inquisition1.jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./FogCube2.png");
    background-size: cover;
    border: 3px solid black;
    border-radius: 25px;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url("./Glyph.png");
    background-size: cover;
}

#board div img {
    width: 170px;
    height: 170px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}